@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    scroll-behavior: smooth;
    font-family: 'Arial Bold',Arial, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    max-width: 1440px;

}
/*----------------------------------------------------------------*/
/* Estilos del menu general sitio */

#generico{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4rem, 1fr, 1fr, 3rem;
    grid-template-areas: 
        "logo logo mnu mnu mnu"
        "cabecera cabecera cabecera cabecera cabecera"
        "principal principal principal principal principal"
        "peu peu peu peu peu"
    ;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

#logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    background-color:black ;
    color: white;
    padding-left: 2rem;
}

#menu{
    grid-area: mnu;
    overflow: hidden;
    background-color:black ;
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
}
#menu ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    width: 65vw;
}
#menu li{
    display: flex;
    justify-content: center;
}
#menu li a {
    text-decoration: none;
}
#menu li a:hover {
    color: #ff9100; 
}
#menu li a:visited {
    color: #ffffff; 
}
#menu li a:link {
    color: #ffffff; 
}
.active{
    text-decoration:underline;
}

#cabecera{
    grid-area: cabecera;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(0, 0, 0, 0.9);
    height: auto;
}
#cabecera h1 {
  position: absolute;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1.5px;
}
#cabecera img,
#cabecera picture {
  width: 100vw;
}

#peu{
    grid-area: peu;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black ;
    color: white;
    border: 1px solid white;
}
#peu ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 20vw;
} 
#peu li{
    list-style: none;
}
#peu li a img{
    width: 35px;
    height: 35px;
}

.titulo{
    display:block;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;    
    width: 100vw;
}
.textos10{
    text-align: left;
    padding: 10px;
    color:rgb(0, 0, 0); 
}
.textos15{
    display:inline-block;
    vertical-align: top;    
    font-size: 12px;
    text-align: left;
    color:rgb(0, 0, 0); 
}
.br-alto{
    content: "";
    display: block;
    font-size: 24%;    
}
.sube{
    position: fixed;
    right: 25vw;
    bottom: 80px;
}
/*----------------------------------------------------------------*/
/* Estilos pagina index */
#principal{
    grid-area: principal;
    display:flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    overflow: hidden;    
}

/* #principal #saludo{ */
#saludo{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
}

#saludo p{
    padding-right: 2rem;
    width: 50vw ;
}

#projectes{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 15px auto;
    gap: 1rem;    
}
#projectes .projecte{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;    
    flex-basis: 25vw;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
.projecte p{
    padding: 1rem;
}
.projecte button{
    margin: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.25;
    border: 1 solid;
    border-radius: 5px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
}

#experiencia{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex-basis: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: black;
    height: fit-content;
}
#experiencia h3{
    color: white;
}
#experiencia .llenguatge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.round {
    transform: rotate(-90deg);
    /* transition: all 1s ease-in-out; */
    /* SVG */
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
}
.percentage {
    position: absolute;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#aficions{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 80%;
    flex-grow: 1;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#aficions .aficio{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 340px;
    height: 65px;
    margin: 20px;
    border-radius: 5px ;
    background: rgb(176, 176, 176);
    font-size: 13px;
    line-height: 70px;
}
.aficio img{
    padding-left: 10;
    height: 32px;
    width: 32px; 
    padding-top: 18px;
}
.rotado{
    transform: rotate(-270deg);
    padding-bottom: 15px;
}

/*----------------------------------------------------------------*/
/* estilos pagina contato */
#formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.form-bl{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.form-label {
	display: block;
    margin-top: 20px;
    margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	z-index: 9;
	color: #000000;
}
.form-input{
	display: block;
	padding: 11px 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #29293a;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #2d2121;    
}
textarea.form-input {
	height: 120px;
	min-height: 48px;
	max-height: 204px;
	resize: vertical;
}
.form-bl-li{
    display: inline-flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    margin-bottom: 5px;    
}
.form-checkbox{
	width: 16px;
	height: 16px;
    margin: 5px;
	clip: rect(0, 0, 0, 0);
	border: 0;
    cursor:pointer;
    margin-top: 20px;
}
.linea a{
    text-decoration: underline;
}
.form-bl-bt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 5px;    
}
.form-button{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.25;
    border: 1 solid;
    border-radius: 5px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
}

/*----------------------------------------------------------------*/
/* Estilos pagina cv */
#desarrollo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#curriculum{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    flex-basis: 70%;
}

#index{
    grid-area: index;
    flex-basis: 10%;
    padding-left: 20px;
    padding-bottom: 50px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 55vw;
    left: 60vw;
}

#index h2{
    text-align: center;
}
#index ul{
    list-style: none;
}
#index ul li {
    font-size: 12px;
    padding: 10px;
    color:rgb(48, 62, 104);
    text-decoration: none;
    border-top: 1px solid rgb(48, 62, 104);
}

#curriculum{
    grid-area: curriculum;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    flex-basis: 70%;
}
#curriculum .secciones{
    
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 5px;
    
}
.secciones h2{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}
.ficha{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.careto{
    float: left;
    margin: 5px;
    margin-top: 20px;
}
.datos{
    font-size: 16px;
    margin: 10px;
    float: left;
    padding-top: 20px;
    
}
.datos ul li{
    display: block;
}
.nombre{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.remarcar{
    font-size: 16px;
    font-weight: bold;
}
.listadatos ul{
    padding-top: 15px;
    padding-bottom: 5px;
    display:block;
}
.listadatos ul li{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    display:block;
}
.tidiomas{
    margin-left: 20px;
    padding-top: 25px;
}
.tidiomas td{
    border-bottom: 1px solid;
}
.tidiomas th{
    width: 85px;
    border-bottom: 1px solid;
    border-right: 2px solid gray;
    background-color:rgb(171, 173, 173);
}
.valor{
    background-color:rgb(110, 142, 148);
    font-size: 12px;
    text-align: center;
    font-weight: bold; 
}
.cab{
    background-color:rgb(46, 48, 48);
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color:white; 
}
@media (max-width: 400px) { 
    #index{
        display: none;
    }
    .sube{
        position: fixed;
        right: 5vw;
        bottom: 90px;
    }
    #experiencia .llenguatge{
        width: 200px;
    }         
}

@media (min-width: 400px) { 
    #index{
        top: 75vw;
        left: 60vw;
    }
    .sube{
        position: fixed;
        right: 5vw;
        bottom: 80px;
    } 
    #experiencia .llenguatge{
        width: 200px;
    }  
}

@media (min-width: 600px) { 
    #index{
        top: 30vw;
        left: 60vw;
    }
    .sube{
        position: fixed;
        right: 5vw;
        bottom: 80px;
    }
    #experiencia .llenguatge{
        width: 150px;
    }  
}

@media (min-width: 768px) { 
    #index{
        top: 28vw;
        left: 65vw;
    }
    #experiencia .llenguatge{
        width: 200px;
    }    
}

@media (min-width: 992px) { 
    #index{
        top: 28vw;
        left: 70vw;
    }
    #experiencia .llenguatge{
        width: 250px;
    }    
}

@media (min-width: 1200px) { 
    #index{
        top: 28vw;
        left: 70vw;
    }
    #experiencia .llenguatge{
        width: 300px;
    }    
}