
/* FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', 'Arial Bold',Arial, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    max-width: 1440px;
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;

}
/*----------------------------------------------------------------*/
/* Estilos comunes en todas las paginas*/
#container{
    width: 100%;
    height: auto;
    margin: 0px auto;
}
#general{
    width: 100%;
    height: auto;
    margin: 0px auto;
}

#banner{
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    height: 300px;
    color:rgba(0, 0, 0, 0.9);
    align-items: center;
    position: relative;
}

#banner h1{
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

.sube{
    position: fixed;
    right: 30%;
    bottom: 70px;
}
.titulo{
    display:flexbox;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.textos10{
    text-align: left;
    padding: 10px;
    color:rgb(0, 0, 0); 
}
.textos15{
    display:inline-block;
    vertical-align: top;    
    font-size: 12px;
    margin: 15px;
    text-align: left;
    color:rgb(0, 0, 0); 
}
.br-alto{
    content: "";
    margin: 20px;
    display: block;
    font-size: 24%;    
}
/*----------------------------------------------------------------*/
/* Estilos del menu general sitio */
#menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 64px;
    background-color: black ;
    color: white;
}
.logo {
    flex-grow: 1;
    flex-basis: 10%;
}
.logo img{
    width: 40px;    
    margin: 10px;
    padding-left: 20px;
}
.menuitems{
    height: 100%;
    padding-right: 20px;
}
.menuitems > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
} 
.menuitem {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 16px;
} 
.menuitem a{
    padding: 15px ;
    text-decoration: none;
    color:white;
}
.menuitem :hover{
    background-color:rgb(255, 255, 255);
    cursor:pointer;
    color:rgb(0, 0, 0);
}
.active{
    text-decoration: underline solid white;
} 

#saludo{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 80%;
    flex-grow: 1;
    align-items: center;
    margin: 15px;
}
#saludo p{
    flex-basis: 50%;
    align-items: center;
}
#saludo img{
    flex-basis: 40%;
    padding-top: 15px ;
}
/*----------------------------------------------------------------*/
/* Estilos del peu general sitio */
#peu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 64px;
    background-color: black ;
    color: white;
    justify-content: center;
    width: 100%;
}
.xarxa{
    padding-left: 5%;
}
.xarxa a img{
    z-index: 9;
    width: 35px;
    height: 35px;
    
}
/*----------------------------------------------------------------*/
/* Estilos pagina index */

#projectes{
    display:inline-flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 80%;
    flex-grow: 1;
    align-items: center;
    margin: 15px;
    padding-bottom: 40px;

}
#projectes .projecte{
    flex-basis: 340px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
}
.projecte button{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.25;
    border: 1 solid;
    border-radius: 5px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
}
#experiencia{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    flex-basis: 100%;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: black;
    height: fit-content;
}
#experiencia h3{
    color: white;
}
#experiencia .llenguatge{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.round {
    transform: rotate(-90deg);
    /* transition: all 1s ease-in-out; */
    /* SVG */
    fill: none;
    stroke-width: 7;
    stroke-linecap: round;
}
.percentage {
    position: absolute;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#aficions{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 80%;
    flex-grow: 1;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
#aficions .aficio{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex-basis: 340px;
    height: 65px;
    margin: 20px;
    border-radius: 5px ;
    background: rgb(176, 176, 176);
    font-size: 13px;
    line-height: 70px;
}
.aficio img{
    padding-left: 10;
    height: 32px;
    width: 32px; 
    padding-top: 18px;
}
.rotado{
    transform: rotate(-270deg);
    padding-bottom: 15px;
}

/*----------------------------------------------------------------*/
/* estilos pagina contato */
#formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.form-bl{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.form-label {
	display: block;
    margin-top: 20px;
    margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	z-index: 9;
	color: #000000;
}
.form-input{
	display: block;
	padding: 11px 21px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #29293a;
	background-color: #ffffff;
	border-radius: 6px;
	border: 1px solid #2d2121;    
}
textarea.form-input {
	height: 120px;
	min-height: 48px;
	max-height: 204px;
	resize: vertical;
}
.form-bl-li{
    display: inline-flex;
    flex-direction: row;
    width: 60%;
    height: auto;
    margin-bottom: 5px;    
}
.form-checkbox{
	width: 16px;
	height: 16px;
    margin: 5px;
	clip: rect(0, 0, 0, 0);
	border: 0;
    cursor:pointer;
    margin-top: 20px;
}
.linea a{
    text-decoration: underline;
}
.form-bl-bt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 5px;    
}
.form-button{
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.25;
    border: 1 solid;
    border-radius: 5px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
}

/*----------------------------------------------------------------*/
/* Estilos pagina cv */
#desarrollo{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#contenido{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    flex-basis: 70%;
}
#index{
    flex-basis: 10%;
    padding-left: 20px;
    padding-bottom: 50px;    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    top: 52%;
    left: 70%;
}
#index h2{

    text-align: center;
}
#index ul{
    list-style: none;
}
#index ul li {
    font-size: 12px;
    padding: 10px;
    color:rgb(48, 62, 104);
    text-decoration: none;
    border-top: 1px solid rgb(48, 62, 104);
}

#contenido .secciones{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin: 20px;
    padding-bottom: 5px;
    
}
.secciones h2{
    padding-bottom: 5px;
    border-bottom: 3px solid black;
}
.ficha{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}
.careto{
    float: left;
    margin: 5px;
    margin-top: 20px;
}
.datos{
    font-size: 16px;
    margin: 10px;
    float: left;
    padding-top: 20px;
    
}
.datos ul li{
    display: block;
}
.nombre{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.remarcar{
    font-size: 16px;
    font-weight: bold;
}
.listadatos ul{
    padding-top: 15px;
    padding-bottom: 5px;
    display:block;
}
.listadatos ul li{
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    display:block;
}
.tidiomas{
    margin-left: 20px;
    padding-top: 25px;
}
.tidiomas td{
    border-bottom: 1px solid;
}
.tidiomas th{
    width: 85px;
    border-bottom: 1px solid;
    border-right: 2px solid gray;
    background-color:rgb(171, 173, 173);
}
.valor{
    background-color:rgb(110, 142, 148);
    font-size: 12px;
    text-align: center;
    font-weight: bold; 
}
.cab{
    background-color:rgb(46, 48, 48);
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color:white; 
}
